@tailwind base;
@tailwind components;
@tailwind utilities;

#hello-world::after {
	animation: helloWorld 25s linear infinite;
	content: "";
}

@keyframes helloWorld {
	0%,
	100% {
		content: 'console.log("Hello, world!");';
	}
	20% {
		content: 'printf("Hello, world!");';
	}
	40% {
		content: 'std::cout << "Hello, world!";';
	}
	60% {
		content: 'fmt.Println("Hello, world!")';
	}
	80% {
		content: 'print("Hello, world!")';
	}
}

@layer base {
	body {
		@apply antialiased min-h-screen bg-slate-100 text-slate-900 px-4 py-4 md:py-8 flex flex-col items-center justify-between dark:bg-slate-900 dark:text-slate-100;
	}

	footer a {
		@apply text-rose-500 transition hover:text-rose-600 dark:text-rose-400 dark:hover:text-rose-500;
	}
}

@layer components {
	.form-group {
		@apply flex flex-col gap-y-1 text-lg;
	}

	.form-group input,
	textarea {
		@apply rounded-lg border-slate-400 focus:ring-rose-500 focus:border-rose-500 dark:bg-slate-700;
	}
}
